*{
    color: #CAD2C5;
    background-color: #354F52;
}

div[class="images"]{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5%;
}

img{
    border-radius: 5%;
    width: 300px;
    height: 250px;
}

h1{
    text-align: center;
}

nav{
    border: solid #CAD2C5;
}

nav>ul{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

nav>ul>li{
    padding: 0.75em;
}

li{
    list-style:none
}

a{
    text-decoration: none;
}